html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: auto;
}

body {
    margin: 0;
    font-size: 1.2rem;
    background-color:black;
    color:white;
    font-family: 'Moderat','Avenir','Helvetica','Arial',sans-serif;
    font-weight: 400;
    line-height: 1.65;
    word-wrap: break-word;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;

}

#titleBox {
    text-align: left;
    font-size: 1.5rem;
    flex: 1;
}

#titleBox a {
    margin-top: 6rem;
}

label {
    cursor: pointer;
    align-self: flex-end;
}

label > span {
    height: 4px;
    width: 1.6rem;
    background-color: white;
    display: block;
    margin-top: 6px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

label:hover > span {
    background-color:orangered;
}

.trigger:checked ~ label span:first-child {
    transform: rotate(45deg);
    top: 5px;
}

.trigger:checked ~ label span:last-child {
    transform: rotate(-45deg);
    top: -5px;
}

nav {
    height: 90vh;
    width: 0;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    line-height: 0.9;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.trigger:checked ~ nav {
    width: 100vw;
}

.trigger {
    left: -50000px;
    position: absolute;
}

.trigger:focus ~ label {
    outline: blue medium auto;
}

ul {
    padding-inline-start: 0px;
    list-style: none;
}

nav ul {
    background-color: black;
    padding: 8rem;
}

nav li {
    margin-bottom: 3rem;
}

a:visited {
    color: inherit;
}

a.topNav:link, #titleBox > a:link {
    text-decoration: none;

}

a:hover, li.selected a, a {
    color:orangered;
} 

#coverBox, .intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(img/funimg/funcover.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    text-transform: uppercase;
}

#coverBox {
    font-size: 4rem;
}

.intro {
    height: 150vh;
}

.intro h2, .intro h3 {
    width: 70%;
    text-shadow: 2px 2px 4px black;
}

#about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
}

#about > * {
    padding: 4rem;
}

#about figure {
    flex: 1;
}

#about figure img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#about div {
    flex: 1;
    width: 100%;
}

#albums {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 8rem 0;
}

#albums figure {
    width: 45%;
    flex: 1;
    padding: 4rem;
}

#albums figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

figcaption {
    color: black;
}

figure:hover figcaption {
    color: white;
}

#upcoming {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#upcomingTtl {
    width: 100%;
    display: flex;
    padding: 2rem;
    text-transform: uppercase;
}

#upcomingMain {
    width: 100vw;
}

#upcomingMain figure {
    width: 100%;
    height: 45vh;
}

#upcomingMain figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#upcomingTxt {
    width: 100%;
    height: 40vh;
    padding: 4rem;
    background-color:white;
    color: black;
}

#dates {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

#dateTtl {
    text-transform: uppercase;
}

#place h3 {
    padding-top: 2rem;
}

#place ul {
    padding-bottom: 2rem;
}

#place ul li:first-child {
    padding-top: 1rem;
}

#place ul:last-child {
    border-bottom: none;
}

#closing {
    width: 100vw;
    background-color: white;
}

#closing figure img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding: 4rem;

}

footer {
    display: flex;
    flex-flow: row;
    padding: 6rem;
}

footer > span {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (min-width: 600px) { 
    nav {
        font-size: 2rem;
    }

    #coverBox {
        font-size: 4rem;
    }

    .intro h2, .intro h3 {
        width: 50%;
        text-shadow: 2px 2px black;
    }

    #about {
        flex-direction: row;
    }

    #albums figure img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    #upcoming {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    #upcomingTtl {
        height: 100%;
        width: 20vw;
        writing-mode: vertical-rl; 
        transform: rotate(180deg);
    }

    #upcomingMain {
        width: 80vw;
    }

    #upcomingMain figure {
        width: 100%;
        height: 70vh;
    }

    #upcomingTxt {
        width: 100%;
        height: 30vh;
    }

    #dates {
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    #about {
        padding: 4rem;
    }

    #albums figure img {
        width: 500px;
        height: 500px;
    }
}