html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: auto;
}

body {
    margin: 0;
    font-size: 1.2rem;
    background-color:black;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.65;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    text-transform: uppercase;
    text-align: center;
    padding: 0 2rem;
}

#titleBox {
    text-align: left;
    font-size: 1.5rem;
    flex: 1;
}

#titleBox a {
    margin-top: 6rem;
}

.menu {
    flex: 1;
    display: inline-block;
}

.menu > span {
    height: 4px;
    width: 1.6rem;
    background-color: white;
    display: block;
    margin-top: 6px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

label {
    cursor: pointer;
    height: 10vh;
    display: flex;
}

label:hover .menu > span {
    background-color: pink;
}

.trigger:checked ~ label .menu span:first-child {
    transform: rotate(45deg);
    top: 5px;
}

.trigger:checked ~ label .menu span:last-child {
    transform: rotate(-45deg);
    top: -5px;
}

nav {
    height: 90vh;
    width: 0;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    line-height: 0.9;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.trigger:checked ~ nav {
    width: 100vw;
}

.trigger {
    opacity: 0;
}

ul {
    padding-inline-start: 0px;
    list-style: none;
}

nav li {
    margin-bottom: 3rem;
}

a:visited {
    color: inherit;
}

a.topNav:link, #titleBox > a:link {
    text-decoration: none;

}

a:hover, li.selected a, a {
    color: pink;
} 

#coverBox {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    background-image: url(../img/funimg/funcover.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro {
    display: flex;
    height: 70vh;
}

#intro h2 {
    width: 50%;
}

#about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color:firebrick;
}

#about > * {
    padding: 4rem;
}

#about figure {
    flex: 1;
}

#about figure img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#about div {
    flex: 1;
    width: 500px;
}

#albums {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 4rem 0;
}

#albums figure {
    width: 45%;
    flex: 1;
    padding: 4rem;
}

#albums figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#upcoming {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#upcomingTtl {
    width: 100%;
    background-color: firebrick;
    display: flex;
    padding: 2rem;
    text-transform: uppercase;
}

#upcomingMain {
    width: 100vw;
}

#upcomingMain figure {
    width: 100%;
    height: 45vh;
}

#upcomingMain figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#upcomingTxt {
    width: 100%;
    height: 40vh;
    padding: 4rem;
    background-color:orangered;
}

#dates {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 6rem 4rem;
}

#dateTtl {
    vertical-align: text-top;
}

#place h3 {
    padding-top: 2rem;
}

#place ul {
    border-bottom: 1px solid darkgray;
    padding-bottom: 2rem;
}

#place ul:last-child {
    border-bottom: none;
}


footer {
    display: flex;
    flex-flow: row;
    padding: 6rem;
}

footer > span {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (min-width: 600px) { 
    nav {
        font-size: 2rem;
    }

    #about {
        flex-direction: row;
    }

    #albums figure img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    #upcoming {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    #upcomingTtl {
        height: 100%;
        width: 20vw;
        writing-mode: vertical-rl; 
        transform: rotate(180deg);
    }

    #upcomingMain {
        width: 80vw;
    }

    #upcomingMain figure {
        width: 100%;
        height: 70vh;
    }

    #upcomingTxt {
        width: 100%;
        height: 30vh;
    }

    #dates {
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    #albums figure img {
        width: 500px;
        height: 500px;
    }
}