html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.65;
    font-family: serif;
    font-weight: 400;
    background-color:black;
    color:white;
    text-shadow: 2px 2px blue;
    font-family: 'Raleway', 'Poppins', 'Noto Sans KR', sans-serif;;
}

header {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    font-family: 'Gilroy', 'Noto Sans KR', sans-serif;
    font-weight:bolder;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

#menu{
    margin: auto;
    text-align: center;
    flex: 1;
    cursor: pointer;
    font-size: 2.5rem;
    box-sizing: border-box;
    align-self: flex-end;
    padding-top: 6rem;
}

#titleBox {
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    flex: 3;
    margin: auto;
    padding-top: 5rem;
}

#titleBox a {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
}

nav {
    height: 100%;
    width: 0;
    font-size: 2rem;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-left: 10%;
    text-align: center;
    padding-top: 15%;
    transition: 0.3s ease-in;
    font-family: 'Gilroy', 'Noto Sans KR', sans-serif;
    font-weight:bolder;
    line-height: 1.5;
    text-transform: uppercase;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    margin-bottom: 1.5rem;
}

a:visited {
    color: inherit;
}

a.topNav:link, #titleBox > a:link {
    text-decoration: none;
    color: white;
}

a.topNav:hover, #navHeader span:hover {
    color: pink;
}

li.selected a { 
    color: pink; 
} 

a {
    color: pink;
}

main {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

main > * {
    margin-left: 10%;
} 


footer {
    width: 80%;
    display: flex;
    flex-flow: row;
    height: 20vh;
    padding-top: 4rem;
    margin-top: 4rem;
    margin: auto;
}

footer > span {
    flex: 25%;
    margin: auto;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;

}

span > h2 {
    margin-block-start: 0;
}

p {
    max-width: 70ch;
    text-shadow: 0px 0px;
}

h1 {
    text-shadow: 4px 4px blue;
}

/* velkommen */
#main {
    transition: ease-in-out 0.5s;
}

#mainBox {
    width: 100%;
    height: 100vh;
    background-image: url(/img/welcome.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    margin: 0;
}

#welcome {
    margin: auto;
    padding: 4rem;
    text-align: center;

}

#welcome > h1 {
    font-size: 5rem;
}

/* pages */

.coverPage > h1 {
    font-size: 6rem;
    margin: 0;
    padding: 6rem;
}

.coverPage {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items:flex-end;
    display: flex;
    margin-bottom: 4rem;
    
} 

#refleksjonimg {
    background-image: url(/img/refleksjon.jpeg);
}

#accessimg {
    background-image: url(/img/access.jpeg);
}

#topicalimg {
    background-image: url(/img/topical.jpeg);
}

#funimg {
    background-image: url(/img/fun.gif);
}

article {
    width: 70vw;
    box-sizing: border-box;
    padding: 2rem;
    margin: auto;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 600px) and (max-width: 960px) { 

}

@media screen and (min-width: 960px) {
    
}