html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: serif;
    font-weight: 300;
    background-color:black;
    color:white;
    text-shadow: 2px 2px purple;
    font-family: Fixed, monospace;
}

header {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    border-right: 0.1px solid darkgrey;
}

#navHeader {
    width: 100%;
}

#titleBox {
    box-sizing: border-box;
    vertical-align: middle;
    padding: 6rem 2rem;
    line-height: 1.2;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

nav {
    box-sizing: border-box;
    text-align: center;
    padding: 0 2rem;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    margin-bottom: 1.5rem;
}

a:visited {
    color: inherit;
}

a.topNav:link, #titleBox > a:link {
    text-decoration: none;
    color: white;
}

a.topNav:hover {
    color: pink;
}

li.selected a { 
    color: pink; 
} 

main {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


footer {
    width: 80%;
    display: flex;
    flex-flow: row;
    height: 20vh;
    margin-left: 20%;
    padding-top: 4rem;
    margin-top: 4rem;
    border-top: 0.1px solid darkgrey;

}

footer > span {
    flex: 25%;
    margin: auto;
    padding: 2rem;
    font-size: 13px;
    text-align: center;

}

span > h2 {
    margin-block-start: 0;
}

p {
    max-width: 70ch;
}

#mainBox {
    width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(/img/welcome.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    margin: 0;

}

#welcome {
    margin: auto;
    padding: 4rem;
    margin-left: 20%;
    text-align: center;

}

#welcome > h1 {
    font-size: 4rem;
}

/* pages */

.coverPage > h1 {
    font-size: 6rem;
    margin: 0;
    padding: 2rem;
    margin-left: 25%;
    padding: 2rem;
    margin-left: 20%;
}

.coverPage {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items:flex-end;
    display: flex;
} 

#refleksjonimg {
    background-image: url(/img/refleksjon.jpeg);
}

#accessimg {
    background-image: url(/img/access.jpeg);
}

#topicalimg {
    background-image: url(/img/topical.jpeg);
}

#funimg {
    background-image: url(/img/fun.gif);
}

article {
    width: 70vw;
    margin-left: 25%;
    box-sizing: border-box;
    padding: 2rem;
}
