html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.2rem;
    background-color:white;
    color:black;
    font-weight: 700;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    line-height: 1.5;
}

header {
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    text-transform: uppercase;
    text-align: center;
}

#titleBox {
    text-align: center;
    font-size: 1.5rem;
    flex: 3;
    margin: auto;
    padding-top: 5rem;
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
}

#menu{
    margin: auto;
    flex: 1;
    cursor: pointer;
    padding-top: 6rem;
    font-size: 2.5rem;
}

#welcomeHeader {
    color:white;
    text-shadow: 2px 2px 2px black;
}

nav {
    height: 100vh;
    width: 0;
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    transition: 0.3s ease-in;
    line-height: 0.9;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    background-color: white;
}

ul {
    padding-inline-start: 0px;
    margin: auto;
    list-style: none;
}

nav li {
    margin-bottom: 3rem;
}

a:visited {
    color: inherit;
}

a.topNav:link, #titleBox > a:link {
    text-decoration: none;
    color: white;
}

a.topNav:hover, menu:hover, li.selected a, a {
    color: pink;
}

main > * {
    margin-left: 10%;
} 

#main {
    transition: ease-in-out 0.5s;
}

#mainBox {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/welcome.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    margin: 0;
}

#welcome {
    margin: auto;
    padding: 4rem;
    text-align: center;
    text-transform: uppercase;
    width: 65%;
}

#welcome > h1 {
    font-size: 3rem;
}

.coverPage > h1 {
    font-size: 3rem;
    margin: 0;
    padding: 3rem;
}

.coverPage {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items:flex-end;
    display: flex;
    margin-bottom: 4rem;
    
} 

#refleksjonimg {
    background-image: url(/img/refleksjon.jpeg);
}

#accessimg {
    background-image: url(/img/access.jpeg);
}

#topicalimg {
    background-image: url(/img/topical.jpeg);
}

#funimg {
    background-image: url(/img/fun.gif);
}

div p {
    max-width: 70ch;
    margin: auto;
}

h1 {
    line-height: 0.9;
    text-align: left;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 4px black;
}


article {
    width: 70vw;
    box-sizing: border-box;
    padding: 2rem;
    margin: auto;
}

footer {
    width: 80%;
    display: flex;
    flex-flow: column;
    padding: 2rem 0;
    margin: auto;
}

footer > span {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 600px) and (max-width: 960px) { 
    nav {
        font-size: 2rem;
    }

    footer {
        flex-flow: row;
    }

    footer > span {
        margin: 4rem 0;
    }

    div p {
        max-width: 60ch;
    }

    #main {
        transition: ease-in-out 0.5s;
    }

    #welcome > h1 {
        font-size: 5rem;
    }

    .coverPage > h1 {
        font-size: 5rem;
        margin: 0;
        padding: 3rem;
    }
}

@media screen and (min-width: 960px) {
    body {
        font-size: 1.2rem;
    }

    nav {
        font-size: 2rem;
    }
        
    #titleBox {
        font-size: 2rem;
    }
    
    div p {
        max-width: 70ch;
    }

    footer {
        flex-flow: row;
    }
    
    #welcome > h1 {
        font-size: 6rem;
    }
    
    .coverPage > h1 {
        font-size: 6rem;
        padding: 6rem;
    }
}